@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: nunito;
  src: url("../public/fonts/Nunito-Medium.ttf");
}

@font-face{
  font-family:singlefont;
  src: url("../public/fonts/SingleDay-Regular.ttf");

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: nunito;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.single_font{
  font-family: singlefont;
}


.shine {
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  margin-top: 15px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 180px;
  }
}

*::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px;
  margin: 10px;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.image_frame {
  box-shadow: -30px -30px 0 -25px #37FF8B, 30px 30px 0 -25px #37FF8B;
  transition: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  overflow: hidden;
}

.image_frame:hover {
  box-shadow: -105px -105px 0 -100px #37FF8B, 105px 105px 0 -100px #37FF8B;
}